version: "3.8"

services:
  # Hadoop NameNode
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.1.3-java8
    container_name: namenode
    hostname: namenode
    environment:
      - CLUSTER_NAME=test
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    ports:
      - "9870:9870"   # NameNode Web UI
      - "8088:8088"   # YARN ResourceManager UI
    tty: true
    networks:
      - hadoop
    volumes:
      - ./hadoop_data/namenode:/hadoop/dfs/name
      - ./:/app
      - ./data:/app/data

  # Hadoop DataNode
  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.1.3-java8
    container_name: datanode
    hostname: datanode
    environment:
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
      - SERVICE_PRECONDITION=namenode:9870
    depends_on:
      - namenode
    volumes:
      - ./hadoop_data/datanode:/hadoop/dfs/data
      - ./:/app
      - ./data:/app/data
    networks:
      - hadoop
    tty: true

  # CouchDB
  couchdb:
    image: couchdb:3
    container_name: couchdb
    environment:
      - COUCHDB_USER=admin
      - COUCHDB_PASSWORD=admin
    ports:
      - "5984:5984"
    volumes:
      - couchdb_data:/opt/couchdb/data
    tty: true

  # Python container
  python:
    image: python:3.10-slim
    container_name: semantic-python
    working_dir: /app
    volumes:
      - ./:/app
      - ./hadoop-3.1.3:/opt/hadoop-3.1.3
    depends_on:
      - namenode
      - datanode
      - couchdb
    tty: true

volumes:
  couchdb_data:

networks:
  hadoop:
    driver: bridge